* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /*this are the color scheme*/
  --color-primary: #d1b798;
  --color-secondary: #CDAA7D;
  --color-peach: #FFDAB9;
  --color-papaya: #FFEFD5;
  --color-black: black;
  --color-grey: #a7a1a1;
  --color-white: white;
  --color-pink: rgb(236, 187, 195);
  --color-orange: #e78364;
  --color-blue: #b2e2fa;
  --color-yellow: #ffb200;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  --font-weight-reg: 300;
  --font-weight-bold: 900;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: var(--color-papaya);
  border-bottom: tomato 5px solid;
  transition: 0.3s;
  z-index: 9999;
}

.reorder {
  float: right;
}

.reorder li {
  float: left;
  display: block;
  text-align: center;
  padding:5px;
  padding-left: 10px;
  padding-right: 15px;
}

.dark .navbar {
  background-color: rgb(71, 71, 71);
}

.switch {
  width: 60px;
  height: 30px;
  background-color: black;
  border-radius: 20px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.flicker {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: white;
  position: absolute; /*means the flicker will be in the same positon always, relative to the switch which is its parent*/
  top: 2px;
  left: 2px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255), 
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

body {
  transition: 0.3s;
  background-color: var(--color-peach);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 2px;
  left: 33px;
}

.dark .flicker { /*if there is an element of dark, get the child flicker and do the following*/
 transform: translateX(35px);
}

.dark > * {
  color: white;
}

.dark footer {
  background-color: rgb(136, 136, 136);
}

header {
  background-color: white;
  min-height: 30px;
  /* set the min height so its responsive */
  border-bottom:  5px solid tomato;
  /* color, width, and line type */
  position: relative; 
}

.dark .header {
  background-color: rgb(71, 71, 71);
}

header a {
  /* this is to grab all the links in the header */
  color: black;
  text-decoration: none;
  /* this gets ride of underline on links */
  text-transform: uppercase;
  /* this mkes the links uppercase */
  font-size: 16px;
}

header .current a {
  color: tomato;
  font-weight: bold;
}

.dark header .current a {
  color: tomato;
  font-weight: bold;
}

header a:hover {
  color: tomato;
  font-weight: bold;
}

.dark header a:hover {
  color: tomato;
  font-weight: bold;
}

.dark header a {
  color: white;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.main {
  height: 80vh; 
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
padding-top: 20px;
padding-bottom: 10px;
}

.section__title {
  margin-top: 3%;
}

#facts {
  text-align: center;
  font-size: 19px;
}

.css_logo {
  width: 70px;
}

.javascript_logo {
  width: 110px;
}

.python_logo {
  width: 80px;
}

.html_logo {
  width: 100px;
}

.git_logo {
  width: 100px;
}

.github_logo {
  width: 90px;
}

/*# sourceMappingURL=styles.css.map */

.container {
  max-width: 100vh;
  margin-inline: auto;
  /*padding-inline: 2rem;*/
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: var(--color-papaya);
  transition: 0.3s;
  z-index:1;
}

.dark .container {
  background-color: rgb(71, 71, 71);
}

.text_p {
  line-height: 1.9rem;
  text-align: left;
  font-size: 25px;
}

.text_h1 {
  margin-top: 30%;
  font-size: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns:
      repeat(auto-fit, minmax(20rem, 1fr));
  padding-bottom: 10%;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width:fit-content;
}

.card_img {
  width: 310px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  padding-left: 1rem;
  padding-bottom: 5%;
  display: block;
  margin: 0 auto;
  margin-top: 30%;
}

.portfolio-button {
  margin: 0;
  position: relative;
  top: 3%;
  left: 11%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: tomato;
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 135px;
  margin: 10px auto 0;
  border-radius: 30px;
}

.resume_button {
  padding: 15px;
  background-color: tomato;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 120px;
  margin: 10px auto 0;
  border-radius: 30px;
}

p {
  font-size: 20px;
  padding-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

.fa-solid {
  font-size: 90px;
  padding-top: 4%;
  padding-bottom: 2%;
}

.fa-brands {
  font-size: 90px;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 2%;
}

.card-portfolio {
  width: 314px;
  background-color: white;
  border: solid 2px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 2.5%;
  margin-top: 1%;
}

.dark .card-portfolio {
    background-color: rgb(71, 71, 71);
}

.placeholder-for-image {
  width: 310px; /*416px*/
  height: 162px;
  background-color: blue;
}


.portfolio-info {
  text-align: center;
  padding-top: 10px;
}

.project {
  width:  310px;
  height: 170px;
  object-fit: cover;
}

.expandMoreContent {
  height: 25px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: relative;
}
.expandMoreContent.expand-active {
  height: auto;
  transition: height 0.5s ease-in-out;
}
.expandMoreHolder {
  padding: 15px 0;
  text-align: center;
}
.btn-expand-more{
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.1);
  display: inline-block;
}

.resume_button {
  margin: 0;
  position: relative;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px 30px;
  background-color: var(--color-papaya);
  transition: 0.3s;
}

.footer__link:hover, 
.footer_github_logo:hover, 
.linkedin_logo:hover {
  opacity: 0.7;
}

.footer__link {
  color: tomato;
  font-weight: bold;
  font-size: larger;
}
.dark footer {
  background-color: rgb(28, 28, 28);
  transition: 0.3s;
}

.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  display: inline-block;
}

.list_class {
  padding-top: 8px;
  margin-right: 8px;;
}
.list_class_header {
  padding-top: 8px;
  margin-right: 8px;
}
.footer_github_logo {
  width: 40px;
  text-align: center;
}

.linkedin_logo {
width: 38px;
padding-top: 2px;;
}

.square {
  width: 48%;
  margin: 1%;
  height: 300px;
  background-color: var(--color-papaya);
  text-align: center;
}

.square-1 {
  width: 100%;
  margin: 1%;
  height: 245px;
  background-color: var(--color-papaya);
  text-align: center;
}

.dark .square-1 {
  background-color: rgb(71, 71, 71);
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

.card_github_logo {
  width: 40px;
  margin-left: 45%;
}

.section_about {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.pt {
  background-color: var(--color-papaya);
}

.dark .pt {
  background-color: rgb(71, 71, 71);
}

.section_portfolio {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-papaya);
  padding-bottom: 3%;
}

.dark .section_portfolio {
  background-color: rgb(71, 71, 71);
}

.contact-title-container {
  background-color: rgb(247, 231, 187);
  height: 1vh;
  padding-top: 1%;
  font-size: 20px;
  padding-bottom: 7%;
}

.dark .contact-title-container {
  background-color: rgb(71, 71, 71);
}

.resume_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

#resume-pdf {
  width: 95%;
  height: 400px;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.dark form {
  background-color: rgb(107, 105, 105);
}

form h3{
  color: tomato;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 25px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgb(248, 216, 175);
  font-size: 16px;
}

form button {
  padding: 15px;
  background-color: tomato;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 120px;
  margin: 10px auto 0;
  border-radius: 30px;
}

@media only screen and (min-width: 970px) {
  .square {
    width: 31%;
    margin: 1%;
    height: 250px;
    }
}

@media only screen and (max-width: 638px) {
  .text_h1 {
    text-align: center;
    margin-top: 1px;
  }
  .text_p {
    text-align: center;
  }
  .portfolio-button {
    margin: 0;
    position: relative;
    top: 3%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
